{% extends 'base_foot.html' %}
{% load staticfiles %}
{% block title_1 %}购物车{% endblock %}
{% block title_2 %}购物车{% endblock %}
{% block content %}
<div class="total_count">全部商品<em>{{ request.user.get_cart_num }}</em>件</div>
<ul class="cart_list_th clearfix">
    <li class="col01">商品名称</li>
    <li class="col02">作者</li>
    <li class="col03">商品价格</li>
    <li class="col04">数量</li>
    <li class="col05">小计</li>
    <li class="col06">操作</li>
</ul>
{% for cart in cart_list %}
    <form method="post" action="{% url 'cart:cart_list' %}">
        <ul class="cart_list_td clearfix">
            <li class="col01"></li>
            <li class="col02"><img src="{{ MEDIA_URL }}{{ cart.book.image }}"></li>
            <li class="col03">{{ cart.book.title }}</li>
            <li class="col04">{{ cart.book.author }}</li>
            <li class="col05">{{ cart.book.price }}</li>
            <li class="col06">{{ cart.total }}</li>
            <li class="col07">{{ cart.total }}元</li>
            <input type="hidden" name="cart" value="{{ cart.id }}">
            <li class="col08"><input type="submit" value="删除" class="del_button"></li>
            {% csrf_token %}
        </ul>
    </form>
{% endfor %}


<ul class="settlements">
    <li class="col01"></li>
    <li class="col02">&nbsp</li>
    <li class="col03">合计(不含运费)：<span>¥</span><em>{{ request.user.get_total }}</em><br>共计<b>{{ request.user.get_cart_num }}</b>件商品</li>
    <li class="col04"><a href="{% url 'order:list' %}">去结算</a></li>
</ul>
{% endblock %}

